.navList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
}

.navItem {
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  gap: 1rem;
  color: transparent;
  background: linear-gradient(
    to right,
    var(--foreground),
    var(--foreground)
  ); /* Set initial background */
  background-clip: text;
  background-size: 200% 100%; /* Prepare for sliding effect */
  background-position: 0 0; /* Initial background position */
  transition: background-position 0.4s ease, font-weight 0.3s ease;
}

.navDot {
  width: 8px;
  height: 8px;
  border-radius: 100vw;
  background-color: #5100ff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navItem:hover,
.active {
  background: linear-gradient(
    to right,
    #ffffff,
    #8188ff
  ); /* Define the gradient */
  background-position: 100% 0; /* Move the background gradient for smooth transition */
  background-clip: text;
  font-weight: 600;
}

@media (max-width: 768px) {
  .nav {
    padding-bottom: 4rem;
    background: var(--background);
  }
}
