.sidebar {
  position: sticky;
  top: 4rem;
  height: calc(100dvh - 10rem);
  padding-right: 4rem;
  z-index: 10000;
}

.navigationContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar footer {
  margin-top: auto;
}

.menu {
  display: none;
  color: var(--bg-primary-gradient);
}

@media (max-width: 768px) {
  .menu {
    display: block;
  }

  .sidebar {
    padding-right: 0;
    background-color: var(--background);
    padding-bottom: 2rem;
    top: 2rem;
    position: relative;
    height: auto;
  }

  .sidebar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigationContent {
    position: absolute;
    background-color: var(--background);
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
  }
}
